[Desktop Entry]
Version=1.0
Type=Application
Name=Uygulama Mağazası
Comment=Program indirin ve güncelleyin
Exec=gnome-software
Icon=org.gnome.Software
Terminal=false
Categories=System;Utility;
StartupNotify=true
